{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="forgot-password-container">
		<h1>Mot de passe oublié?</h1>

		<p>Entrez votre adresse email pour réinitialiser votre mot de passe.</p>

		{{ form_start(requestPassForm) }}
		{{ form_row(requestPassForm.email) }}
<button class="btn btn-primary" type="submit">Réintialiser mon mot de passe</button>
		{{ form_end(requestPassForm) }}


		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}

		<div class="back-to-login">
			<a href="{{ path('app_login') }}">Retour à la connexion</a>
		</div>
	</div>
{% endblock %}
